body {
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 43, 43, 1) 100%
  );
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Input + search */
.input-group {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 620px;
}

input {
  margin: 0;
  padding-left: 20px;
  background-color: #2b2b2b;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  height: 50px;
  width: 450px;
  font-size: 1.2rem;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input::after {
  background-color: #2b2b2b;
  color: white;
  /* font-size: 1.2rem; */
}

button {
  margin: 0;
  border-radius: 10px;
  border: none;
  height: 100%;
  width: 120px;
  background-color: rgb(26, 175, 255);
  color: white;
  font-size: 1.2rem;
}

button:hover {
  opacity: 0.7;
}
/* Weather box popping up */
.main-weather-box {
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 43, 43, 1) 100%
  );
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  height: auto;
  width: 580px;
  margin: 0 auto;
  padding: 20px;
}

.next-day-box-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: black;
  height: auto;
  width: 620px;
}

.next-day-box {
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 43, 43, 1) 100%
  );
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  height: auto;
  width: 100%;
  padding: 20px;
}

.error-message{
  color: white;
  font-size: 1.5rem;
}
