body {
  background-color: rgb(0, 0, 57);
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Input + search */
.input-group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

input {
  height: 40px;
  width: auto;
}

/* Weather box popping up */
.main-weather-box {
  background-color: white;
  color: black;
  height: 300px;
  width: 500px;
}

.next-day-box-group {
  display: flex;
  gap: 20px;
  color: black;
  height: 300px;
  width: 500px;
}

.next-day-box {
  background-color: white;
  color: black;
  height: 100px;
  width: 100px;
}