body {
  background-color: rgb(0, 0, 57);
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Input + search */
.input-group {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
  margin: 0 auto;
  width: 600px;
}

input {
  margin: 0;
  border-radius: 10px;
  height: 40px;
  width: 450px;
}

button {
  margin: 0;
  border-radius: 10px;
  height: 100%;
  width: 120px;
}

/* Weather box popping up */
.main-weather-box {
  background-color: white;
  color: black;
  border-radius: 10px;
  height: auto;
  width: 600px;
  margin: 0 auto; /* center block */
}

.next-day-box-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: black;
  height: 300px;
  width: 600px;
}

.next-day-box {
  background-color: white;
  color: black;
  border-radius: 10px;
  height: auto;
  width: 100%;
}
